html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: #FFF;
	font-family: 'Lora', Sans-Serif;
}

header {
	width: 80%;
	margin: 0 auto;
	border: 10px solid #006666;
	height: 12em;
	border-radius: 10px;
}

h1, h2 {
	font-family: 'Open Sans', Sans-Serif;
}

header h1 {
	color: #006666;
	text-align: center;
	padding-top: 0.5em;
	font-size: 3em;
}

.introduction p {
	width: 30%;
	font-size: 1.5em;
	margin: 0 auto;
	border: 2px solid #006666;
	text-align: center;
	padding: 1em;
	margin-top: 1em;
}

.center-panel {
	width: 80%;
	margin: 2em auto;
	height: 20em;
	overflow: hidden;
}

.add-friend {
	float: left;
	width: 30%;
	margin-left: 5%;
	margin-right: 10%;
}

.friend-list {
	float: left;
	width: 40%;
	margin-left: 10%;
	margin-right: 5%;
}

.friend-list li {
	list-style-type: none;
	width: 100%;
	clear: both;
}

.friend-list img {
	margin-right: 10px;
	float: left;
}

.friend-list button {
	float: right;
	margin-top: 1em;
	margin-left: 20px;
	margin-right: 20px;
}

.friend-list p {
	float: left;
	padding-top: 0.5em;
}

.links-feed {
	width: 30%;
	margin: 2em auto;
	overflow: hidden;
}

.links-feed h1 {
	text-align: center;
}

.show-link {
	width: 80%;
	margin: 2em auto;

}

.show-link h3 {
	margin: 0;
}

.show-link p {
	margin-top: 0;
}

.hidden {
	display: none;
}

.links-example {
	width: 80%;
	margin: 2em auto;

}

.links-example h3 {
	margin: 0;
}

.links-example p {
	margin-top: 0;
}
